.loginpage {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoimg img {
    width: 300px;
}

.input1 input[type='text'],
.input2 input[type='text'] {
    height: 2px;
    /* background-color: rgba(212, 120, 255, 0.393); */
    border: 1px solid rgba(0, 0, 0, 0);
}

.input1 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.icons1 {
    position: absolute;
    margin-left: 170px;
    opacity: 50%;
}

.input2 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons2 {
    position: absolute;
    margin-left: 170px;
    opacity: 50%;
}




.btn {
    margin-top: 15px;
}

.lines {
    border: 1px solid black;
    width: 250px;
}

.lnks {
    border: 1px solid rgba(0, 0, 0, 0.111);
    margin-top: 15px;
    border-radius: 20px;
    text-align: center;
}

.googlelogo {
    width: 20px;
    position: relative;
    top: 5px;
    right: 7px;
}

.fblogo {
    width: 20px;
    position: relative;
    top: 5px;
}

.rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 174, 255, 0.351);
}

.rightside img {
    width: 450px;
}

@media only screen and (max-width:400px) {
    .loginpage {
        display: grid;
        grid-template-columns: 100%;
        height: 100vh;
        background-color: rgba(186, 186, 255, 0.322);
    }

    .rightside {
        display: none;
    }
}